<article class="post">
  <div class="title">
    <div href="{{post_text}}" target="_blank">{{title}}</div>
  </div>
  <div class="comment">
    <a>{{format_url post_text}}</a>
  </div>
  <div class="meta">
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>